html, body, #main
	height: 100%
	width: 100%
	margin: 0px
	padding: 0px
	box-sizing: border-box

html, body, p, h1, h2, h3, h4, h5, h6, textarea, input, button, span, div, main, select
	font-family: Hack, monospace

.actions
	padding: 20px 0px 10px 0px
	text-align: center

	button
		padding: 3px 10px
		margin: 0px 10px
		border: 1px solid black

#main
	padding: 20px

	#page
		width: 100%
		height: 100%
		display: flex
		flex-direction: column

		.header
			display: flex
			margin-bottom: 15px
			padding-bottom: 5px
			border-bottom: 2px solid black

			h1
				margin: 0
				padding: 0
				flex-grow: 1

			.viewmode
				display:flex;
				align-items: flex-end;

				select
					font-size: 14px

		.content
			flex-grow: 1
			display: flex
			flex-direction: column

			textarea
				resize: none
				flex-grow: 1
				padding: 10px 10px 25px 10px

			#examples
				ul
					font-size: 14px
					padding: 0

				li
					padding: 5px 0px
					list-style: none
					cursor: pointer

				li:hover
					background-color: #ffff44

			.incoming
				border-collapse: separate
				border-spacing: 0px 5px

				td
					padding: 3px

				tr.spam
					td
						background-color: rgba(255, 0, 0, 0.5)

				tr.notspam
					td
						background-color: rgba(0, 255, 0, 0.5)
